* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.text-custom-color {
    color: #4B689C;
}

.competence-logo {
    width: 120px;
    height: 120px;
    transition: transform 0.5s ease;
}

.div-switch-md {
    display: flex;
    justify-content: flex-end;
}

.speech {
    padding: 0;
}

nav {
    background-color: #ffffff;
}

.nav-link a {
    color: #4B689C;
    text-decoration: none;
}

.nav-link a:hover {
    color: #FF5876;
}

.navbar-toggler {
    background: #ffffff !important;
    border: 2px solid #4B689C !important;
}

.navbar-toggler:active {
    border: 2px solid #FF5876 !important;
}

.navbar-toggler-icon:hover span {
    color: #FF5876;
}

.card-img-top {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.card-img-top:hover {
    border: 2px solid #ffffff;
}

.card-text{
    color: #4B689C;
    text-align: center;
    padding-top: 0.5em;
}

.divider {  
    border-top: 2px solid #FF5876;
    margin: 15px 0;
    width: 80%;
}

.border-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 0.3s ease;
    border: 4px solid #FF5876;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    cursor: pointer;
}

.menu {
   margin-right: 10px;
}

.style {
    font-weight: 600;
}

.aboutme-section {
    background-image: url('../img/pexels-miguel-á-padriñán-255379.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

h1 {
    color: #4B689C;
    margin-top: 2em !important;
    padding-top: 1em;
}

.speech {
    padding: 2em;
    margin-top: 3em;
    color: #4B689C;
}

.boutoncv:active {
    color: #4B689C;
}

.boutoncv {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 15em;
    height: 3.5em;
    background: #ffffff;
    border: 1px solid #4B689C;
    border-radius: 10px;
    color: #4B689C;
    font-weight: 700;
    text-align: center;
    align-items: center;
    padding: 0;
    transition-duration: 0.4s;
    text-decoration: none;
}

.boutoncv:hover {
    background: #4B689C;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.competence-logo {
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.3s ease;
}

.competence-logo:hover {
    transform: scale(1.1) rotate(20deg);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px;
    border: 2px solid #4B689C;
}

.slider img {
    transition: transform 0.4s;
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 60%;
}

input:checked + .slider {
    border: 2px solid #4B689C;   
}

input:checked + .slider img {
    transform: translateX(26px);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    height: 100%;
    gap: 5px;
}

.main-video {
    background-color: #FF5876;
}

#ancrecompetences .row {
    height: 300px; 
}

@media (min-width: 768px) {
    #ancrecompetences .row {
        height: 400px;
    }
}

@media screen and (min-width: 240px) {
    
    .competence-logo {
        max-width: 80px;
        max-height: 80px;
    }

    .div-switch-md {
        display: flex;
        justify-content: flex-end;
    }

    .boutoncv:active {
        color: #4B689C;
    }

    .contactforphone {
        display: block;
        align-items: center;
    }

    .contactforphone ul {
        justify-content: center;
        margin-top: 1em;
    }

    @media (min-width: 935px) {
        .competence-col {
            flex: 1 1 50%;
            max-width: 50%;
        }
    }
}